= simple_form_for [@foundation, @campaign] do |f|
	.col-sm-12.col-lg-12
		= f.input :description
	.col-sm-12.col-lg-12
		= f.input :start_date
	.col-sm-12.col-lg-12
		= f.input :end_date

	.btn-group.btn-group-sm
		= f.submit 'Guardar', class: 'btn btn-primary'